@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

p {
  font-family: "Cabin", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Cabin", sans-serif;
}

@media (min-width: 1400px) {
  .big_box {
    margin-right: 100px !important;
  }
  .big_box_noApe {
    margin-right: 100px !important;
  }
}

.toastBody {
  font-family: "Cabin", sans-serif;
}
.toastProgress {
  font-family: "Cabin", sans-serif;
}

.wallets-wrapper {
  display: flex;
}

.wallet-label {
  display: flex !important;
  align-items: center;
}

.wallet-label span {
  font-size: 20px;
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: normal;
  color: #272727;
  overflow: hidden;
  text-align: center;
}

.round-button {
  box-sizing: border-box;
  display: block;
  width: 80px;
  height: 80px;
  padding-top: 14px;
  padding-left: 8px;
  line-height: 20px;
  border: 6px solid #fff;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.round-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
  text-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
}

.homepage {
  background: url(images/cold.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

audio {
  width: 120px !important;
  height: 15px;
}

.armor {
  padding-top: 40px;
  width: 100%;
  display: flex;
  font-size: 16px;
}

.modal-bg {
  background: url(images/cold.png);
  background-size: cover;
  width: 100%;
  padding: 50px;
  text-align: center;
  border: 2px solid #eec07a;
}

.modal-title {
  color: wheat;
  margin-bottom: 30px !important;
}

.modal-button {
  padding-top: 38px;
  justify-content: center;
  display: flex;
}

.cold-bg {
  background: url(images/cold.png);
}

/*html,
body {
  margin: 0;
}*/

p {
  margin: 0px !important;
  padding: 0px;
  color: wheat;
  white-space: nowrap;
  width: 100%; /* IE6 needs any width */
  overflow: hidden; /* "overflow" value must be different from  visible"*/
  -o-text-overflow: ellipsis; /* Opera < 11*/
  text-overflow: ellipsis;
}

.loadout {
  display: grid;
  justify-content: center;
  border: 2px solid #eec07a;
  float: right;
  overflow-y: scroll;
  height: 590px;
  width: 150px;
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 10px;
}

.loadout_no_gear {
  display: grid;
  justify-content: center;
  border: 2px solid #eec07a;
  float: right;
  overflow: scroll;
  height: 400px;
  width: 150px;
  margin-top: 20px;
  border-radius: 5px;
  margin-right: 10px;
  color: wheat;
}

.loadout_img {
  width: 70px;
  height: 70px;
  margin: 12px;
}

.small_box_loadout {
  border: 2px solid #eec07a;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  cursor: move;
}

.small_box_body {
  border: 2px solid #eec07a;
  border-radius: 5px;
  text-align: center;
  height: 100px;
}

.small_box_body_ready {
  border: 2px solid green;
  border-radius: 5px;
  text-align: center;
  height: 100px;
}

.small_box_item {
  border: 2px solid #eec07a;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  background-color: orange;
}

.small_box_mount {
  border: 2px solid #eec07a;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  background-color: #297e9a;
}
.carousel {
  width: auto;
  margin: auto;
}

.carousel-item {
  transition: none !important;
}

.carousel-inner {
  width: auto !important;
  float: right;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin-left: 541px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 95% !important;
}

.carousel-indicators {
  display: none !important;
}

.blue {
  background-color: blue !important;
}

.big_box {
  display: flex;
  justify-content: center;
  background-size: cover;
  border: 2px solid #eec07a;
  border-radius: 5px;
  height: 430px;
  float: right;
  margin-right: 40px;
  margin-top: 20px;
}

.buttons_tas {
  background: none !important;
  color: wheat !important;
  border-color: #eec07a !important;
}

.col {
}

.big_box_noApe {
  display: flex;
  justify-content: center;
  background-size: cover;
  border: 2px solid #eec07a;
  border-radius: 5px;
  height: 430px;
  float: right;
  width: 426px;
  color: wheat;
  margin-right: 40px;
  margin-top: 20px;
}
.carousel .thumbs-wrapper {
  display: none;
}
.box_text {
  text-align: center;
  color: white;
  margin-top: 33px;
}
