@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");


@font-face {
  font-family: 'Charlemagne';
  src: url('/src/fonts/charlemagne.woff') format('woff2'),
       url('/src/fonts/charlemagne.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

p {
  font-family: "Cabin", sans-serif;
  font-size: 14;
}

h1,
h2,
h3 {
  font-family: "Charlemagne";
  color: #ead5c2; 
}
h4 {
  font-family: "Charlemagne";
  color: #ead5c2
}

.toastBody {
  font-family: "Cabin", sans-serif;
}
.toastProgress {
  font-family: "Cabin", sans-serif;
}

.wallets-wrapper {
  display: flex;
}

.wallet-label {
  display: flex !important;
  align-items: center;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ead5c2;
  color: #ead5c2;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  font-size: 15px;
}

.input:focus + .underline {
  transform: scale(1);
}

.underline {
  display: inline-block;
  height: 2px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 202px;
}

textarea:focus,
input:focus {
  outline: none;
}

.wallet-label span {
  font-size: 20px;
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: normal;
  color: #272727;
  overflow: hidden;
  text-align: center;
}
.homepage {
  background: url(images/cold.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

audio {
  width: 120px !important;
  height: 15px;
}

.react-audio-player {
  color: green;
}

.skills_bar {
  border: 2px solid #ead5c2;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 15px;
  justify-content: center;
  padding-top: 10px;
}

.skills_group {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
.skills_group > * {
  padding: 5px;
  width: "35px";
}

.skills_group p img {
  width: 25px;
}


.skills_bar_line {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
  border: 2px solid #ead5c2;
  border-bottom: none;
  border-right: none;
  border-left: none;
}

u {
  text-decoration: none !important;
}

.modal-bg {
  background: url(images/cold.png);
  background-size: cover;
  width: 100%;
  padding: 50px;
  text-align: center;
  border: 2px solid #ead5c2;
}

.modal-title {
  color: #ead5c2;
  margin-bottom: 30px !important;
}

.modal-button {
  padding-top: 38px;
  justify-content: right;
  color: #ead5c2;
  display: flex;
}

.cold-bg {
  background: url(images/cold.png);
}

p {
  color: #ead5c2;
}


.inventory {
  display: block;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  width: 100%;
  height: 100%;
}


/* Style the scrollbar */
.inventory::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
  margin: 0px;
}


.inventory::-webkit-scrollbar-track {
  background-color: #fffff000; /* Set the color of the scrollbar track */
}


.gear_img {
  width: 100%;
}

.gear_img_2 {
  margin: 25%; /* Ensure no unwanted margin */
  width: 75%;
  padding: 0; /* Ensure no unwanted padding */
  position: relative;
  opacity: .75;
}

.gear_img_2:hover {
  opacity: 1;
}

.inventory_box {
  border: 2px solid #ead5c2;
  border-radius: 5px;
  margin: 2px;
  cursor: move;
  width: 95%;
}

.inventory_box:hover {
  box-shadow: 0 0 15px #ead5c2;
}

.loadout_box_empty {
  position: relative;
  border: 2px solid #ead5c2;
  width: 95%;
  padding-bottom: 95%;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out; /* add transition for smooth effect */
}
.loadout_box_empty:not(:empty) {
  padding-bottom: 0px;
}

.loadout_box_empty:hover {
  box-shadow: 0 0 15px #ead5c2;
}

.loadout_box_incoming_item:not(:empty) {
  border: 2px solid #ead5c2;
  width: 95%;
  padding-bottom: 0px;
  border-radius: 5px;
  margin: 2px;
  box-shadow: 0 0 35px #ead5c2;
}

.loadout_box_incoming_item {
  border: 2px solid #ead5c2;
  width: 95%;
  padding-bottom: 95%;
  border-radius: 5px;
  margin: 2px;
  box-shadow: 0 0 35px #ead5c2;
}

.amount {
  font-family: "Charlemagne";
  font-weight: 600;
  margin-top: -15%;
  margin-right: 6%;
  position: absolute;
  top: 1;
  right: 0;
  background-color: #ead5c2;
  padding: 2%;
  border-radius: 40%;
  box-shadow: 0 0 5px #eec07a, 0 0 5px #eec07a, 0 0 5px #eec07a, 0 0 10px #eec07a, 0 0 10px #eec07a, 0 0 10px #eec07a;
}

.carousel {
  width: auto;
  margin: auto;
}

.carousel-item {
  transition: none !important;
}

.carousel-inner {
  width: auto !important;
}

.carousel-control-prev-icon{
  margin-left: 95%;
}
.carousel-control-next-icon {
  margin-left: 95%;
}
.carousel-control-prev{
  width: 95% !important; 
}
.carousel-control-next {
  width: 95% !important;
}

.carousel-indicators {
  display: none !important;
}
.carousel .thumbs-wrapper {
  display: none;
}

.big_box {
  border: 2px solid #ead5c2;
  border-radius: 10px;
}


.box_text {
  text-align: center;
  color: ivory;
  margin-top: 33px;
}


.button_tas_1 {
  background: none !important;
  color: #ead5c2 !important;
  border-color: #ead5c2 !important;
  transition: box-shadow 1s ease-in-out;
  margin: 1px;
}

.button_tas_1:hover {
    box-shadow: 0 0 5px #ead5c2, 0 0 5px #ead5c2, 0 0 10px #ead5c2, 0 0 10px #ead5c2, 0 0 15px #ead5c2, 0 0 15px #ead5c2;
}
.button_tas_1:active {
  color: #ead5c2 !important;
  background-color: #eec07a !important;
  border-color: #f1dab0 !important;
}

.button_tas_1:visited {
  color: #ead5c2 !important;
  background-color: #eec07a !important;
  border-color: #f1dab0 !important;
}

.button_tas_1:focus {
  color: #ead5c2 !important;
  background-color: #eec07a00 !important;
  border-color: #f1dab0 !important;
}

.button_tas_2 {
  background-color: #eec07a !important;
  color: ivory !important;
  text-shadow: 2px 2px 5px rgba(39, 39, 39, 1); /* Adjust the values for offset and color */
  border-color: #eec07a !important;
  transition: box-shadow 1s ease-in-out;
  box-shadow: 0 0 5px #ead5c2, 0 0 5px #ead5c2, 0 0 10px #ead5c2, 0 0 10px #ead5c2, 0 0 15px #ead5c2, 0 0 15px #ead5c2;
  margin: 1px;
  cursor: pointer;
}

.button_tas_2:hover {
  box-shadow: 0 0 10px #ead5c2, 0 0 10px #ead5c2, 0 0 20px #ead5c2, 0 0 20px #ead5c2, 0 0 30px #ead5c2, 0 0 30px #ead5c2;
}

.button_tas_2:active {
  color: #ead5c2 !important;
  background-color: #eec07a00 !important;
  border-color: #f1dab0 !important;
}

.button_tas_2:visited {
  color: #ead5c2 !important;
  background-color: #eec07a00 !important;
  border-color: #f1dab0 !important;
}

.button_tas_2:focus {
  color: #ead5c2 !important;
  background-color: #eec07a00 !important;
  border-color: #eec07a !important;
}

.square-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Set the padding-top to create a square based on the width */
}

.button_tas_inventory_1 {
  border: none !important;
  background: none !important;
  color: #ead5c2 !important;
  transition: box-shadow 1s ease-in-out;
}

.button_tas_inventory_1:hover {
    box-shadow: 0 0 5px #ead5c2, 0 0 5px #ead5c2, 0 0 10px #ead5c2, 0 0 10px #ead5c2, 0 0 15px #ead5c2, 0 0 15px #ead5c2;
}
.button_tas_inventory_1:active {
  color: #ead5c2 !important;
  
  background-color: #eec07a !important;
  border-color: #f1dab0 !important;
}

.button_tas_inventory_1:visited {
  color: #ead5c2 !important;
  background-color: #eec07a !important;
  border-color: #f1dab0 !important;
}

.button_tas_inventory_1:focus {
  color: #ead5c2 !important;
  background-color: #eec07a00 !important;
  border-color: #f1dab0 !important;
}



.button_tas_toolbar_1 {
  background: none !important;
  color: #ead5c2 !important;
  border-color: #ead5c2 !important;
  transition: box-shadow 1s ease-in-out;
  margin: 1px;
}

.button_tas_toolbar_1:hover {
    box-shadow: 0 0 5px #ead5c2, 0 0 5px #ead5c2, 0 0 10px #ead5c2, 0 0 10px #ead5c2, 0 0 15px #ead5c2, 0 0 15px #ead5c2;
}
.button_tas_toolbar_1:active {
  color: #ead5c2 !important;
  
  background-color: #eec07a !important;
  border-color: #f1dab0 !important;
}

.button_tas_toolbar_1:visited {
  color: #ead5c2 !important;
  background-color: #eec07a !important;
  border-color: #f1dab0 !important;
}

.button_tas_toolbar_1:focus {
  color: #ead5c2 !important;
  background-color: #eec07a00 !important;
  border-color: #f1dab0 !important;
}


.button_tas_toolbar_2 {
  background-color: #eec07a !important;
  color: ivory !important;
  text-shadow: 2px 2px 5px rgba(39, 39, 39, 1); /* Adjust the values for offset and color */
  border-color: #eec07a !important;
  transition: box-shadow 1s ease-in-out;
  margin: 1px;
}

.button_tas_toolbar_2:hover {
  box-shadow: 0 0 5px #ead5c2, 0 0 5px #ead5c2, 0 0 10px #ead5c2, 0 0 10px #ead5c2, 0 0 15px #ead5c2, 0 0 15px #ead5c2;
}

.button_tas_toolbar_2:active {
  color: #ead5c2 !important;
  background-color: #eec07a00 !important;
  border-color: #f1dab0 !important;
}

.button_tas_toolbar_2:visited {
  color: #ead5c2 !important;
  background-color: #eec07a00 !important;
  border-color: #f1dab0 !important;
}

.button_tas_toolbar_2:focus {
  color: #ead5c2 !important;
  background-color: #eec07a !important;
  border-color: #eec07a !important;
}

.toolbaricon1 {
  width: 25px
}

.toolbaricon2 {
  width: 25px;
  filter: invert(100%)
}