@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

p {
  font-family: "Cabin", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Cabin", sans-serif;
}

@media (min-width: 1400px) {
  .big_box {
    margin-right: 10px !important;
  }
  .big_box_noApe {
    margin-right: 10px !important;
  }
}

.toastBody {
  font-family: "Cabin", sans-serif;
}
.toastProgress {
  font-family: "Cabin", sans-serif;
}

.wallets-wrapper {
  display: flex;
}

.wallet-label {
  display: flex !important;
  align-items: center;
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #eec07a;
  color: wheat;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  font-size: 15px;
}

.input:focus + .underline {
  transform: scale(1);
}

.underline {
  display: inline-block;
  height: 2px;
  left: 50px;
  margin-top: -4px;
  position: absolute;
  top: 185px;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 202px;
}

textarea:focus,
input:focus {
  outline: none;
}

.wallet-label span {
  font-size: 20px;
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: normal;
  color: #272727;
  overflow: hidden;
  text-align: center;
}

.round-button {
  box-sizing: border-box;
  display: block;
  width: 80px;
  height: 80px;
  padding-top: 14px;
  padding-left: 8px;
  line-height: 20px;
  border: 6px solid #fff;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.round-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
  text-shadow: 0px 0px 10px rgba(255, 255, 100, 1);
}

.homepage {
  background: url(images/cold.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

audio {
  width: 120px !important;
  height: 15px;
}

.react-audio-player {
  color: green;
}

.isLoading {
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.armour_totals_top {
  width: 560px;
  display: flex;
  font-size: 15px;
  border: 2px solid #eec07a;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
  margin-bottom: 20px;
}

a,
u {
  text-decoration: none !important;
}

.modal-bg {
  background: url(images/cold.png);
  background-size: cover;
  width: 100%;
  padding: 50px;
  text-align: center;
  border: 2px solid #eec07a;
}

.modal-title {
  color: wheat;
  margin-bottom: 30px !important;
}

.modal-button {
  padding-top: 38px;
  justify-content: center;
  display: flex;
}

.cold-bg {
  background: url(images/cold.png);
}

/*html,
body {
  margin: 0;
}*/

p {
  margin: 0px !important;
  padding: 0px;
  color: wheat;
  white-space: nowrap;
  width: 100%; /* IE6 needs any width */
  overflow: hidden; /* "overflow" value must be different from  visible"*/
  -o-text-overflow: ellipsis; /* Opera < 11*/
  text-overflow: ellipsis;
}

.inventory {
  display: grid;
  justify-content: center;
  border: 2px solid #eec07a;
  float: right;
  overflow-y: scroll;
  height: 360px;
  width: 180px;
  margin-top: 20px;
  border-radius: 5px;
}

/* Style the scrollbar */
.inventory::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
  margin: 5px;
}

.inventory::-webkit-scrollbar-thumb {
  background-color: #eec07a; /* Set the color of the scrollbar thumb */
}

.inventory::-webkit-scrollbar-track {
  background-color: #fffff000; /* Set the color of the scrollbar track */
}

.inventory_no_gear {
  display: grid;
  justify-content: center;
  border: 2px solid #eec07a;
  float: right;
  overflow-y: scroll;
  height: 360px;
  width: 150px;
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 1px;
}

/* Style the scrollbar */
.inventory_no_gear::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
  margin: 5px;
}

.inventory_no_gear::-webkit-scrollbar-thumb {
  background-color: #eec07a; /* Set the color of the scrollbar thumb */
}

.inventory_no_gear::-webkit-scrollbar-track {
  background-color: #fffff000; /* Set the color of the scrollbar track */
}

.gear_img {
  width: 96px;
  height: 96px;
  margin: 0px;
}

.inventory_box {
  border: 2px solid #eec07a;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: move;
}

.loadout_box_empty {
  border: 2px solid #eec07a;
  border-radius: 5px;
  text-align: center;
  margin-right: 2px;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  transition: box-shadow 0.3s ease-in-out; /* add transition for smooth effect */
}

.loadout_box_empty:hover {
  box-shadow: inset 0 0 15px #eec07a;
}


.loadout_box_incoming_item {
  border: 2px solid green;
  border-radius: 5px;
  text-align: center;
  height: 100px;
  width: 100px;
  margin-right: 2px;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.loadout_box_filled {
  border: 2px solid #eec07a;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  cursor: move;
  margin-right: 2px;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
}
.carousel {
  width: auto;
  margin: auto;
}

.carousel-item {
  transition: none !important;
}

.carousel-inner {
  width: auto !important;
  float: right;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin-left: 541px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 95% !important;
}

.carousel-indicators {
  display: none !important;
}

.blue {
  background-color: blue !important;
}

.big_box {
  display: flex;
  justify-content: center;
  background-size: cover;
  border: 2px solid #eec07a;
  border-radius: 5px;
  float: left;
}

.buttons_tas {
  background: none !important;
  color: wheat !important;
  border-color: #eec07a !important;
}

.big_box_noApe {
  display: flex;
  justify-content: center;
  background-size: cover;
  border: 2px solid #eec07a;
  border-radius: 5px;
  float: left;
  color: wheat;
}
.carousel .thumbs-wrapper {
  display: none;
}
.box_text {
  text-align: center;
  color: ivory;
  margin-top: 33px;
}
